@model Staff

@{
    ViewBag.createActive = "active";
}

<h2>Create Page</h2>
<p>The .table-hover class enables a hover state (grey back:</p>

<form asp-controller="Staff" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3 mt-3">
        <label asp-for="@Model.Id" for="email" class="form-label">Id:</label>
        <input asp-for="@Model.Id" class="form-control" placeholder="Enter Id">
        <span asp-validation-for="@Model.Id"></span>
    </div>
    <div class="mb-3 mt-3">
        <label asp-for="@Model.FirstName" for="email" class="form-label">First Name:</label>
        <input asp-for="@Model.FirstName" class="form-control" placeholder="Enter First Name">
        <span asp-validation-for="@Model.FirstName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.LastName" for="pwd" class="form-label">Last Name:</label>
        <input asp-for="@Model.LastName" class="form-control" placeholder="Enter Last Name">
        <span asp-validation-for="@Model.LastName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Gender" for="pwd" class="form-label">Gender:</label>
        <input asp-for="@Model.Gender" class="form-control" placeholder="Enter Gender">
        <span asp-validation-for="@Model.Gender"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Age" for="pwd" class="form-label">Age:</label>
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        <span asp-validation-for="@Model.Age"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
